
<section class="content-header">
  <div class="container">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Erro 401</font></font></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a></li>
          <li class="breadcrumb-item active"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Erro 401</font></font></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="d-flex justify-content-center">
  <div class="container error-page row">
    <div class="col-12 col-md-3 d-flex justify-content-center">
      <h2 class="headline text-muted mr-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 401</font></font></h2>
    </div>
    <div class="col-12 col-md-9">
      <div class="error-content">
        <h3>
          <i class="fas fa-lock text-muted"></i>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> Ops! </font>
            <font style="vertical-align: inherit;">Acesso não autorizado.</font>
          </font>
        </h3>

        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              Você ainda não logou no sistema ou sua sessão expirou.
            </font>
            <font style="vertical-align: inherit;">Você pode </font>
          </font>
          <a routerLink="/auth/login">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">retornar a página de login</font>
            </font>
          </a>
          <font style="vertical-align: inherit;"> e digitar novamente suas credenciais </font>
        </p>
      </div>
    </div>

  </div>
</section>
