<div class="w-100 text-center d-flex" style="background-color: #e9ecef; height: 100vh;">
  <div class="form-signin">
    <img width="250" src="href=../../assets/images/logo_planeta_racing_escura.png" alt="">
    <div class="card pb-3">
      <div class="card-body">
        <h3>Redefinição de senha enviado!</h3>
        <h5>Um email para redefinir sua senha foi enviado para <p><b>{{email}}</b></p></h5>
        <h6 class="mt-4">Verifique sua caixa de entrada e siga as instruções para redefinir a sua senha.</h6>

        <a class="btn btn-primary mt-4" routerLink="/">Página inicial</a>
      </div>
    </div>
  </div>

</div>

