<div class="w-100 text-center d-flex" style="background-color: #e9ecef; height: 100vh;">
  <form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit()">
    <img width="250" src="href=../../assets/images/logo_planeta_racing_escura.png" alt="">
    <app-alert></app-alert>
    <div class="card">
      <div class="card-body">
        <h4>
          Redefinir senha
        </h4>
        <div class="form-group mb-3">
          <div class="input-group">
            <input type="password" class="form-control" placeholder="Senha" [formControl]="f.senha">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div *ngIf="submitted && f.senha.errors" class="text-danger text-left">
            <div *ngIf="f.senha.errors.required">A senha é obrigatória.</div>
          </div>
        </div>
        <div class="form-group mb-3">
          <div class="input-group">
            <input type="password" class="form-control" placeholder="Repetir a senha" [formControl]="f.confirmacaoSenha">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div *ngIf="submitted && f.confirmacaoSenha.errors" class="text-danger text-left">
            <div *ngIf="f.confirmacaoSenha.errors.required">A confirmação de senha é obrigatória.</div>
            <div *ngIf="f.confirmacaoSenha.errors.confirmacaoSenha">Os campos de senha não são iguais.</div>
          </div>
        </div>
        <div class="form-group mb-4">
          <div class="col">
            <button type="submit" class="btn btn-primary btn-block" *ngIf="!loading" [disabled]="loadingFb">Redefinir senha</button>

            <button class="btn btn-primary btn-block" type="button" disabled *ngIf="loading">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Aguarde...
            </button>
          </div>
        </div>
        <p class="mb-0">
          <a routerLink="/" class="text-center">Voltar para o início</a>
        </p>
      </div>
    </div>
  </form>
</div>

