<div class="w-100 text-center d-flex" style="background-color: #e9ecef; height: 100vh;">
  <div class="form-signin">
    <img width="250px" src="href=../../assets/images/logo_planeta_racing_escura.png" alt="">
    <div class="card pb-3">
      <div class="card-body">
        <h3>Confirme seu endereço de e-mail</h3>
        <h5>Está quase pronto! Uma mensagem de confirmação foi enviada para <p><b>{{email}}</b></p></h5>
        <h6 class="mt-4">Basta acessar o seu e-mail e seguir o link de confirmação para acessar sua conta.</h6>

        <a class="btn btn-primary mt-4" routerLink="/">Página inicial</a>
      </div>
    </div>
  </div>

</div>

