<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light flex-md-nowrap shadow p-0" style="z-index:20">
  <div class="bg-dark col-12 col-md-3 col-lg-3 col-xl-2">
    <a routerLink="/admin" class="navbar-brand">
      <img width="100"
           src="../../../assets/images/logo.png"
           alt="Logo"
           class="brand-image img-circle elevation-3">
    </a>
  </div>
  <ul class="navbar-nav px-3 ml-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Página inicial</a>
    </li>
  </ul>
  <button class="navbar-toggler position-absolute d-md-none" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav-scroll ml-auto ">
    <ul class="navbar-nav bd-navbar-nav flex-row pr-5">
      <li class="nav-item dropdown" *ngIf="usuario">
        <a class="nav-item nav-link dropdown toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img width="25" height="25" class="user-image" src="{{ usuario?.imagem ? usuario.imagem.urlPreview : '/assets/images/user-default.jpg' }}" alt=""> {{usuario.nome}}
          <i class="fa fa-angle-down"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <div class="dropdown-item">
            <img width="30" height="30" class="user-image" src="{{ usuario.imagem ? usuario.imagem.urlPreview : '/assets/images/user-default.jpg' }}" alt=""> Olá {{usuario.nome}}
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/usuario/profile">
            <i class="fas fa-user"></i>  Minha conta
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logoff()">
            <i class="fas fa-sign-out-alt"></i>  Sair
          </a>

        </div>
      </li>
    </ul>
  </div>

</nav>
